<section class="intro">
  <p class="intro-title">Hi, I'm Irene.<br>I'm a UX Desiger passionate about design and technology.</p>
  <p class="intro-subtitle">Hi, I am Irene, a designer who is passionate about design and technology. I believe design is an evolving process. Whether it's evolving from mannual to digital, or from an old version to a modern look and feel, it needs to be built upon knowledge of the current situation. That's why I like to spend time understanding my customers before drawing anything on paper. I am good at quickly turning concept/complex business model into interactive format by tackling "how it should work" first. I also enjoy working cross-functionally and learn from others.</p>
</section>
