---
layout: default
---
<div class="home">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.tagline }}</h2>
    <a href class="btn btn-ghost">See my works</a>
    <a href class="btn btn-ghost">Download resume</a>
</div>

<div class="works">
    <h2>Recent Works</h2>
    <ul class="list-unstyled gallery">
        {% assign works = site.categories.work | sort: "date" | limite: 9 %}
        {% for work in works %}
        <li>
            <a href="{{ work.url | prepend: baseurl }}">
                <img src="{{ baseurl }}/images/{{ work.thumbnail }}" alt="{{ work.title }}" />
                <div class="">
                    {{ work.title }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="skills">
    <h2>Skills</h2>
    <ul class="list-unstyled gallery">
        {% assign skills = site.categories.skill | sort: "weight" | limit: 5 %}
        {% for skill in skills %}
        <li>
            <img src="{{ baseurl }}/images/{{ skill.icon }}" alt="{{ skill.title }}" />
            <h3>{{ skill.title }}</h3>
            <p>{{ skill.content }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

{% assign sections = site.pages | where: "showonhome", true | sort: "weight" %}
{% for section in sections %}
<h2>{{ section.title }}</h2>
{{ section.content }}
{% endfor %}
