---
layout: default
---

<div class="home">
  {% include intro.html %}
  <section>
    <div class="project-list">
      {% assign showcase = site.posts | sort: "date" | reverse | limit: 6 | where: "showcase", true %}
      {% for project in showcase %}
        <div class="project-item">
          <a href="{{ project.url }}">
            <figure class="item-thumbnail">
              <img src="{{ site.url }}/assets/posts/{{ project.date | date: "%Y-%m-%d" }}-{{ project.title | slugify }}/thumbnail.jpg" alt="{{ project.title }}">
              <figcaption class="item-meta">
                <h4>{{ project.title }}</h4>
                {% if project.excerpt %}
                <h5>{{ project.excerpt }}</h5>
                {% endif %}
              </figcaption>
            </figure>
          </a>
        </div>
      {% endfor %}
    </div>
    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </section>

</div>
