.resume {
  ul {
    li {
      clear:left;
    }
  }

  .row {
    &:not(:first-child) {
      margin-top: 2rem;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
