html {
    @include font($font-size-default);
}

body {
    @include font($font-size-default, 1.6, 400);
    font-family: $font-family-default;
}

h1 {
    @include font($font-size-default * 2.8, 1.2, 300);
}

h2 {
    @include font($font-size-default * 2.4, 1.2, 300);
}

h3 {
    @include font($font-size-default * 2, 1.3, 300);
}

h4 {
    @include font($font-size-default * 1.6, 1.35, 300);
}

h5 {
    @include font($font-size-default * 1.4, 1.5, 300);
}

h6 {
    @include font($font-size-default * 1.2, 1.6, 300);
}

.text-muted {
    @include font($font-size-default * 0.8, 1.6, 400);
    opacity: 0.5;
}

.text-small,
small {
    @include font($font-size-default * 0.8, 1.6, 400);
}

.text-caption {
    @include font($font-size-default, 1.6, 400);
}

.text-feature {
    @include font($font-size-default * 1.6, 1.35, 300);
}

.text-feature-body {
    @include font($font-size-default * 1.2, 1.6, 300);
}
