.resume-right {
  h4 {
    color: $color-mint;
  }
}

.resume-download {
  margin-bottom: 2rem;
}

@media screen and (min-width: $breakpoint-sm) {
  .resume-content {
    display: table;
    width: 100%;
  }

  .resume-left,
  .resume-right {
    display: table-cell;
    padding: 0 2rem;
  }

  .resume-left {
    background-color: $color-mint;
    color: $color-white;
    width: 40%;

    a {
      &,
      &:visited {
        color: $color-white;
        text-decoration: underline;
      }

      &:focus,
      &:hover {
        color: $color-black;
      }
    }
  }
}
