.intro-title {
  @include font($font-size-default * 1.3, 1.6, 400);
  color: $color-sand;
}

.intro-subtitle {
  @include font($font-size-default * 1, 1.6, 400);
  color: $color-grey;
  margin-top: 1rem;
}

@media screen and (min-width: $breakpoint-md) {

  .intro-title {
    @include font($font-size-default * 2, 1.6, 400);
    color: $color-sand;
  }

  .intro-subtitle {
    @include font($font-size-default * 1.4, 1.6, 400);
    color: $color-grey;
    margin-top: 2rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {

  .intro-title {
    @include font($font-size-default * 2.5, 1.6, 400);
    color: $color-sand;
  }

  .intro-subtitle {
    @include font($font-size-default * 1.2, 1.6, 400);
    color: $color-grey;
    margin-top: 2rem;
  }
}
