.nav {
  background: $color-black;
  color: $color-white;
  overflow: hidden;
  text-align: center;
  padding: 2rem 0;
  a {
    &,
    &:visited {
      color: $color-sky;
    }
    &:hover,
    &:focus,
    &.active {
      color: $color-white;
    }
  }
}

.intro-title {
  font-size: $font-size-default * 1.5;
}
